@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins";
}
html,
body {
  height: 100%;
  width: 100%;
  cursor: none;
}
body {
  overflow-x: hidden;
}
#cursor {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  border: 1.2px solid #ffffff;
  position: absolute;
  z-index: 1;
  /* transform: translate(-50%, -50%); */
  mix-blend-mode: difference;
}
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 151;
  background-color: #000000;
  padding: 25vh 10vw;
}
.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}
.line h1 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 5px;
}
.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  opacity: 0;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes anim {
  0% {
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    opacity: 0;
    font-style: normal;
    /* color: transparent; */
  }
  47% {
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    opacity: 1;
    font-style: normal;
    /* color: transparent; */
  }
  50% {
    font-style: italic;
    -webkit-text-stroke: 1px #fff;
    /* color: transparent; */
    opacity: 0;
  }
  90% {
    opacity: 1;
    font-style: italic;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  100% {
    -webkit-text-stroke: 1px #fff;
    opacity: 1;
    font-style: italic;
    color: transparent;
  }
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3.6vw;
  font-style: italic;
  font-weight: 100;
}
#line1-part1 h5 {
  width: 4vw;
  text-align: right;
}
#main {
  position: relative;
  background-color: #151415;
}
#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #151415;
}
#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 7vw;
}
.menu-opener {
  display: none;
}
#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-size: 1vw;
  font-weight: 200;
}
.hero {
  height: fit-content;
  width: 73%;
  margin-left: 27%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999;
}
#flag {
  height: 37vw;
  /* width: 23vw; */
  left: 0;
  top: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
}

.hero:nth-child(2) {
  margin-top: 100px;
}
.hero h1 {
  font-size: 6vw;
  font-weight: 600;
  text-transform: uppercase;
}
.hero h2 {
  font-size: 6vw;
  font-weight: 600;
  text-transform: uppercase;
  transition: border-bottom ease-in-out 0.3s;
  border-bottom: 0.4vw solid #fff;
}
.hero h3 {
  font-size: 6vw;
  font-weight: 600;
  text-transform: uppercase;
}
.hero h2:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 550;
  border-bottom: 0.4vw solid #000000;
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: #151415;
  padding-top: 20vh;
  position: relative;
}
#video-container {
  height: 70vh;
  width: 65vw;
  position: relative;
  left: 34.3%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  background-size: cover;
  background-position: center;
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

#video-cursor {
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  background-color: #ffa73c;
  top: -8%;
  position: absolute;
  z-index: 99;
  left: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 2vw;
}
#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #151415;
  padding-top: 17vh 2vw;
  margin-left: 25vw;
}
#page3 .underline {
  height: 0.5px;
  width: 100%;
  background-color: #fff;
  margin-right: 28vw;
}
#page3 h1 {
  font-size: 6vw;
  text-transform: uppercase;
  position: relative;
}
#image-div-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 4vw;
}
/* #image-div-container :nth-child(2) {
  height: 28vw;
  width: 20vw;
  top: -5vw;
} */
.img-div {
  height: 35vw;
  width: 24vw;
  position: relative;
  overflow: hidden;
}
.img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.page3-circle {
  height: 40vh;
  width: 39vh;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all ease 0.5s;
}
.page3-circle svg {
  height: 100%;
  width: 100%;
  scale: 0.2;
}
.circle-in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  scale: 0;
  transition: all ease 0.5s;
}
.circle-in p {
  font-size: 1vw;
  scale: 0;
  width: 80%;
  color: #000000;
  transition: all ease 0.3s;
  transition-delay: 0.3s;
}
.page3-circle:hover .circle-in {
  scale: 1;
}
.page3-circle:hover p {
  scale: 1;
}
#page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 5vh;
  background-color: #151415;
}
#page4-content {
  width: 72vw;
  position: relative;
  margin-left: 28%;
}
#page4-content h1 {
  font-size: 6vw;
  text-transform: uppercase;
  position: relative;
}
.underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 2vw 0;
}
#page4-content > p {
  font-size: 2vw;
  width: 50%;
  margin-bottom: 3vw;
}
#page4-flex {
  display: flex;
}
#page4-flex img {
  width: 48%;
}
#page4-flex p {
  width: 20%;
  font-size: 1vw;
  margin-left: 1vw;
}
#page4-blue-div {
  background-color: #3f7df4;
  width: 28vw;
  padding: 3vw 2vw;
  position: relative;
  margin-top: -32vh;
  left: 25vw;
}
.blue-div-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.28vw 0;
  border-bottom: 1px solid white;
}
.blue-div-elem p {
  width: 50%;
}
#page5 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #151415;
}
.elem {
  white-space: nowrap;
  margin-bottom: 1vw;
}
.elem h1 {
  font-weight: 600;
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 10px;
  animation-name: anime;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes anime {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
.elem2 {
  white-space: nowrap;
}
.elem2 h1 {
  font-weight: 600;
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 10px;
  transform: translateX(calc(-100% - 20px));
  animation-name: anime;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
#footer {
  height: 80vh;
  width: 100%;
  position: relative;
  padding-left: 28vw;
}
#footer h1 {
  font-size: 7vw;
  width: 60vw;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2vw;
}
#footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 2vw;
}
#footer-div h6 {
  font-size: 0.9vw;
  font-weight: 600;
  margin-bottom: 0.4vw;
}
.box {
  width: 20%;
}
#footer-div h5 {
  font-size: 1.4vw;
  margin: 0.2vh 0;
  font-weight: 600;
}
._canvas_container {
  z-index: 999999 !important;
  pointer-events: none;
}
@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  #page1 {
    min-height: 60vh;
    width: 100%;
    background-color: #151415;
    padding-top: 1px;
  }
  #page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.7vw 7vw;
    position: fixed;
    width: 100%;
    top: 0;
  }
  #nav svg {
    scale: 0.8;
  }
  #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-size: 1vw;
    font-weight: 200;
    display: none;
  }
  .hero {
    height: fit-content;
    width: 73%;
    margin-left: 7%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
  }
  #flag {
    height: 37vw;
    /* width: 23vw; */
    left: 0;
    top: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
  }

  .hero:nth-child(2) {
    margin-top: 26vh;
  }
  .hero h1 {
    font-size: 8vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 10vw;
  }
  .hero h2 {
    font-size: 8vw;
    font-weight: 500;
    text-transform: uppercase;
    transition: border-bottom ease-in-out 0.3s;
    border-bottom: 0.8vw solid #fff;
  }
  .hero h3 {
    font-size: 6vw;
    font-weight: 500;
    text-transform: uppercase;
  }
  .hero h2:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 550;
    border-bottom: 0.8vw solid #000000;
  }
  #page2 {
    height: 60vh;
    width: 100%;
    background-color: #151415;
    padding-top: 10vh;
    position: relative;
  }
  #video-container {
    height: 52vh;
    width: 100%;
    position: relative;
    left: 0;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
  }
  #video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
  }

  #video-cursor {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background-color: #ffa73c;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 99;
    left: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2vw;
  }
  #page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #151415;
    padding-top: 17vh 2vw;
    margin-left: 5vw;
  }
  #page3 .underline {
    height: 0.5px;
    width: 90%;
    background-color: #fff;
    /* margin-right: 28vw; */
  }
  #page3 h1 {
    font-size: 6vw;
    text-transform: uppercase;
    position: relative;
    margin-top: 10vw;
  }
  #image-div-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-shrink: 0;
    gap: 4vw;
  }
  /* #image-div-container :nth-child(2) {
    height: 28vw;
    width: 20vw;
    top: -5vw;
  } */
  .img-div {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 90vw;
    width: 70vw;
    position: relative;
    overflow: hidden;
  }
  .img-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .page3-circle {
    height: 40vw;
    width: 39vw;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all ease 0.5s;
    flex-wrap: wrap;
  }
  .page3-circle svg {
    height: 100%;
    width: 100%;
    scale: 0.5;
  }
  .circle-in {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    transition: all ease 0.5s;
  }
  .circle-in p {
    font-size: 2.5vw;
    scale: 0;
    width: 80%;
    color: #000000;
    transition: all ease 0.3s;
    transition-delay: 0.3s;
  }
  .page3-circle:hover .circle-in {
    scale: 1;
  }
  .page3-circle:hover p {
    scale: 1;
  }
  #page4 {
    min-height: auto;
    width: 100%;
    /* position: relative; */
    padding-top: 5vh;
    background-color: #151415;
    margin-bottom: 10vh;
  }
  #page4-content {
    min-height: 100vh;
    width: 72vw;
    /* position: relative; */
    margin-left: 8%;
  }
  #page4-content h1 {
    font-size: 6vw;
    text-transform: uppercase;
    /* position: relative; */
  }
  .underline {
    height: 0.1vw;
    width: 100%;
    background-color: #fff;
    margin: 2vw 0;
  }
  #page4-content > p {
    font-size: 4vw;
    width: 100%;
    margin-bottom: 8vw;
  }
  #page4-flex p {
    font-size: 5vh;
  }
  #page4-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #page4-flex img {
    width: 100%;
    margin-bottom: 4vh;
  }
  #page4-flex p {
    width: 100%;
    font-size: 2vw;
    margin-left: 1vw;
  }
  #page4-blue-div {
    background-color: #3f7df4;
    height: 100%;
    width: 100%;
    margin-top: 2vh;
    left: 0;
    padding: 10vw;
  }
  .blue-div-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.28vw 0;
    border-bottom: 1px solid white;
  }
  .blue-div-elem p {
    width: 50%;
  }
  #page5 {
    width: 100%;
    height: 80vw;
    position: relative;
    background-color: #151415;
    /* margin-top: 10vh; */
    padding: 5vw;
    /* scale: 1.2; */
  }
  .elem {
    white-space: nowrap;
    margin-bottom: 1vw;
  }
  .elem h1 {
    font-weight: 600;
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes anime {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
  .elem2 {
    white-space: nowrap;
  }
  .elem2 h1 {
    font-weight: 600;
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    transform: translateX(calc(-100% - 20px));
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
  }
  #footer {
    height: 30vh;
    width: 100%;
    position: relative;
    padding-left: 8vw;
    /* scale: 1.5; */
  }
  #footer h1 {
    font-size: 8vw;
    width: 60vw;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2vw;
    font-style: italic;
  }
  #footer-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    /* padding-top: 2vw; */
  }
  #footer-div h6 {
    font-size: 3vw;
    font-weight: 600;
    margin-bottom: 0.4vw;
  }
  .box {
    width: 20%;
  }
  #footer-div h5 {
    font-size: 2vw;
    margin: 0.2vh 0;
    font-weight: 600;
  }
  #footer .underline {
    width: 90%;
  }
  #loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 151;
    background-color: #000000;
    padding: 25vh 10vw;
    /* scale: 1.5; */
  }
  .line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
  }
  .line h1 {
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .line h2 {
    font-size: 9vw;
    text-transform: uppercase;
    opacity: 0;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
  @keyframes anim {
    0% {
      -webkit-text-stroke: 1px #fff;
      color: #fff;
      opacity: 0;
      font-style: normal;
      /* color: transparent; */
    }
    47% {
      -webkit-text-stroke: 1px #fff;
      color: #fff;
      opacity: 1;
      font-style: normal;
      /* color: transparent; */
    }
    50% {
      font-style: italic;
      -webkit-text-stroke: 1px #fff;
      /* color: transparent; */
      opacity: 0;
    }
    90% {
      opacity: 1;
      font-style: italic;
      -webkit-text-stroke: 1px #fff;
      color: transparent;
    }
    100% {
      -webkit-text-stroke: 1px #fff;
      opacity: 1;
      font-style: italic;
      color: transparent;
    }
  }
  #line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
  }
  #line1-part1 h5,
  #line1-part1 h6 {
    font-size: 5vw;
    font-style: italic;
    font-weight: 100;
  }
  #line1-part1 h5 {
    width: 4vw;
    text-align: right;
  }
  .menu-opener {
    display: initial;
  }
}
